.venv/
.models.json
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipython/
dist/
build/
*.egg-info/
jupyterlab/.yarn/
jupyterlab/lib/
jupyterlab/node_modules/
jupyterlab/tsconfig.tsbuildinfo
